.Major-Course-Planner {
  background-image: url("white-abstract-background.png");
    min-height: 100%;
    min-width: 1024px;
    width: 500%;
    height: auto;
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    background-repeat: repeat;
}
